<div class="header">
    <div class="left">
        <a aria-label="Home" routerLink="/dashboard">
            <img src="../../assets/images/logo.png" alt="Trello" aria-labelledby="logo-label" />
        </a>
        <div class="seperator"></div>
        <a aria-label="Boards" routerLink="/dashboard" class="boards-link">
            <img src="../../assets/images/trello-mark-blue.png" alt="Boards" aria-labelledby="boards-label" />
            Boards
        </a>
        <div class="seperator"></div>
        <div class="search-box">
            <input type="text" placeholder="Search..." aria-label="Search" />
            <span class="icon"></span>
        </div>
    </div>
    <div class="right">
        <button type="button" class="notifications-btn">
            <img src="../../assets/images/bell-outline.png" />
        </button>
        <button class="user" [matMenuTriggerFor]="menu" aria-label="User Profile">
            <app-avatar [userName]="userName" [imageUrl]="profilePicUrl"></app-avatar>
        </button>
        <mat-menu #menu="matMenu">
            <div class="mat-menu-username" mat-menu-item disabled>
                Hi {{userName}}
            </div>
            <button mat-menu-item (click)="onProfile()">
                <mat-icon>account_circle</mat-icon>
                Profile
            </button>
            <button mat-menu-item (click)="onLogout()">
                <mat-icon>power_settings_new</mat-icon>
                Logout
            </button>
        </mat-menu>
    </div>
</div>