<div class="boards-container">
    <ng-template [ngIf]="hasStarredBoards()">
        <section class="starred-boards-section">
            <h3>
                Starred Boards
            </h3>
            <ng-template [ngIf]="isLoading()">
                <div class="loading">
                    <mat-spinner diameter="60" strokeWidth="4"></mat-spinner>
                </div>
            </ng-template>
            <ng-template [ngIf]="!isLoading()">
                <ul>
                    <ng-container *ngFor="let board of starredBoards(); let i = index">
                        <li>
                            <app-board-card [board]="board" [isLoading]="board.isLoading || false"
                                [isDeleting]="board.isDeleting || false"
                                (onToggleBoardStarred)="onToggleBoardStarred($event)"
                                (onDelete)="onDeleteBoard($event)"></app-board-card>
                        </li>
                    </ng-container>
                </ul>
            </ng-template>
        </section>
    </ng-template>
    <section>
        <h3>
            Your Boards
        </h3>
        <ng-template [ngIf]="isLoading()">
            <div class="loading">
                <mat-spinner diameter="60" strokeWidth="4"></mat-spinner>
            </div>
        </ng-template>
        <ng-template [ngIf]="!isLoading()">
            <ul>
                <ng-container *ngFor="let board of boards(); let i = index">
                    <li>
                        <app-board-card [board]="board" [isLoading]="board.isLoading || false"
                            [isDeleting]="board.isDeleting || false"
                            (onToggleBoardStarred)="onToggleBoardStarred($event)"
                            (onDelete)="onDeleteBoard($event)"></app-board-card>
                    </li>
                </ng-container>
                <li class="create-board" (click)="onCreateBoard()">
                    Create New Board
                </li>
            </ul>
        </ng-template>
    </section>
</div>