<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <h1 mat-dialog-title>Create Board</h1>
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Board Name</mat-label>
      <input matInput formControlName="title">
      <mat-error *ngIf="form.get('title')?.invalid">Please enter a board name.</mat-error>
    </mat-form-field>
  </div>
  <div mat-dialog-actions>
    <button type="button"mat-button (click)="onCancel()">Cancel</button>
    <button type="submit" mat-button color="primary" cdkFocusInitial [disabled]="isLoading()">Create</button>
  </div>
</form>