<div class="list" [class.dragging]="dragOnList()?.id" [class.active]="list.id == dragOnList()?.id">
    <div class="list__header">
        <div class="list__header__left">
            <span class="text" [class.editable]="isEditable" (click)="onToggleListEditable()">{{title}}</span>
            <div class="input_box" [class.editable]="isEditable">
                <input type="text" [(ngModel)]="title" (keyup.enter)="onUpdateList()" />
                <ng-template [ngIf]="isLoading">
                    <div class="loader">
                        <mat-spinner diameter="20" strokeWidth="2"></mat-spinner>
                    </div>
                </ng-template>
            </div>
        </div>
        <button class="more-menu-btn" [matMenuTriggerFor]="menu" aria-label="List Menu">
            <span class="icon"></span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="onDeleteList()">
                <mat-icon>delete</mat-icon>
                Delete
            </button>
        </mat-menu>
    </div>
    <div class="list__cards" [class.layout-complete]="layoutComplete()" [class.has-transition]="isTransitionEnabled()">
        <ng-template [ngIf]="!layoutComplete()">
            <div class="list__cards__loader">
                <mat-spinner diameter="30" strokeWidth="3"></mat-spinner>
            </div>
        </ng-template>
        <ul>
            <li *ngFor="let card of cards(); trackBy: trackByCard" [attr.data-position]="card.position" #card>
                <app-card [card]="card" [isLoading]="card.isLoading || false" [isDeleting]="card.isDeleting || false"
                    (onEdit)="onEditCard($event)" (onDelete)="onDeleteCard($event)"
                    (onMarkDone)="onMarkDoneCard($event)"></app-card>
            </li>
            <li class="add-new-card" #card (click)="onCreateCard()">
                + Add New Card
            </li>
        </ul>
    </div>
</div>