:host {
    height: 100%;
}

.list {
    display: flex;
    flex-direction: column;
    max-height: 100%;
    position: relative;
    white-space: normal;
    width: 100%;
    height: 100%;

    &.dragging {
        opacity: 0.4;
    }

    &.active {
        opacity: 1;
    }

    &__header {
        flex: 0 0 auto;
        min-height: 30px;
        padding: 10px 15px;
        position: relative;
        background-color: #f4f4f4;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .text {
            font-size: 15px;
            font-weight: 500;
            line-height: 24px;
            color: #000000;
            position: absolute;
            z-index: 1;
            top: auto;

            &.editable {
                z-index: 0;
                opacity: 0;
            }
        }

        .more-menu-btn {
            border: 0 none;
            width: 24px;
            height: 6px;
            background-color: transparent;
            padding: 0;
            .icon {
                display: block;
                background-image: url("../../../../assets/images/more-icon.png");
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
            }
        }

        .input_box {
            position: relative;
            background-color: white;
            border-radius: 5px;
            overflow: hidden;
            z-index: 0;
            opacity: 0;
            &.editable {
                z-index: 1;
                opacity: 1;
            }
            input {
                width: 100%;
                height: 30px;
                padding: 0 10px;
                outline: none;
                font-family: "Poppins";
                font-size: 15px;
                font-weight: 500;
                color: #000000;
                border: 0 none;
                background-color: transparent;
            }
            .loader {
                position: absolute;
                top: 6px;
                right: 2px;
            }
        }
    }

    &__cards {
        position: relative;
        flex: 1 1 auto;
        margin: 0;
        min-height: 0;
        overflow-x: hidden;
        overflow-y: auto;
        z-index: 1;

        &__loader {
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        &::-webkit-scrollbar {
            width: 0.45rem;
        }

        &::-webkit-scrollbar-track {
            background-color: rgba(0, 0, 0, 0.06);
            box-shadow: none;
            border-radius: 10px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: rgba(0, 0, 0, 0.3);
            border-radius: 10px;
            outline: none;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            position: relative;
            width: 100%;
            height: auto;
            // opacity: 1;
            // will-change: opacity;
            // transition: opacity 0.4s linear 0s;

            li {
                margin-top: 15px;

                &.add-new-card {
                    border: 1px dashed rgba(0, 0, 0, 0.2);
                    border-radius: 10px;
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 24px;
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: calc(100% - 2px);
                    height: 100px;
                }
            }
        }

        &.has-transition {
            ul {
                li {
                    // will-change: transform;
                    // transition: transform 0.2s ease-out 0s;
                }
            }
        }

        &.layout-complete {
            // overflow-y: auto;
            // ul {
            //     opacity: 1;
            //     li {
            //         position: absolute;
            //         top: 0;
            //         left: 0;
            //         width: 100%;
            //         &.add-new-card {
            //             width: calc(100% - 2px);
            //         }
            //     }
            // }
        }
    }
}
