<div class="header">
    <div class="left">
        <a aria-label="Home" routerLink="/">
            <img src="../../assets/images/logo.png" alt="Trello" aria-labelledby="logo-label" />
        </a>
        <div class="seperator"></div>
        <a aria-label="Boards" routerLink="/" class="boards-link">
            <img src="../../assets/images/trello-mark-blue.png" alt="Boards" aria-labelledby="boards-label" />
            Boards
        </a>
        <div class="seperator"></div>
        <div class="search-box">
            <input type="text" placeholder="Search..." aria-label="Search" />
            <span class="icon"></span>
        </div>
    </div>
    <div class="right">
        <button type="button" class="notifications-btn">
            <img src="../../assets/images/bell-outline.png" />
        </button>
        <div class="user">
            <img src="https://randomuser.me/api/portraits/men/11.jpg" />
        </div>
    </div>
</div>