<div class="board">
    <div class="board__header">
        <div class="board__header__title">
            <h2 [class.editable]="isEditable()">
                {{board()?.title}}
                <ng-template [ngIf]="board()">
                    <button type="button" (click)="onToggleEditable()">
                        <mat-icon>mode_edit</mat-icon>
                    </button>
                </ng-template>
            </h2>
            <div class="input_box" [class.editable]="isEditable()">
                <div class="input_box__field">
                    <input type="text" [attr.value]="board()?.title" (keyup)="onBoardTitleChanged($event)"
                        (keyup.enter)="onUpdateBoard()" />
                    <ng-template [ngIf]="board()?.isLoading">
                        <div class="loader">
                            <mat-spinner diameter="20" strokeWidth="2"></mat-spinner>
                        </div>
                    </ng-template>
                </div>
                <div class="input_box__actions">
                    <button type="button" class="save-btn" [disabled]="boardTitle() == board()?.title" (click)="onUpdateBoard()">
                        <mat-icon>done</mat-icon>
                    </button>
                    <button type="button" class="cancel-btn" (click)="onToggleEditable()">
                        <mat-icon>clear</mat-icon>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="board__content">
        <ng-template [ngIf]="isLoading()">
            <div class="loader">
                <mat-spinner diameter="60" strokeWidth="4"></mat-spinner>
            </div>
        </ng-template>
        <ng-template [ngIf]="!isLoading()">
            <div class="lists">
                <ul>
                    <li *ngFor="let list of lists(); trackBy: trackByList">
                        <app-list [list]="list" [isLoading]="list.isLoading || false"
                            [isEditable]="list.isEditable || false"></app-list>
                    </li>
                    <li class="add-new-list">
                        <ng-template [ngIf]="!isCreateNewList()" [ngIfElse]="createNewListForm">
                            <span (click)="onToggleCreateNewList()">+ Add New List</span>
                        </ng-template>
                        <ng-template #createNewListForm>
                            <div class="add-new-list-form">
                                <app-add-new-list-form [boardId]="boardId"
                                    (onClose)="onToggleCreateNewList()"></app-add-new-list-form>
                            </div>
                        </ng-template>
                    </li>
                </ul>
            </div>
        </ng-template>
    </div>
</div>