<div class="card" draggable="true" [class.dragging]="selectedCard()?.id == card.id">
    <div class="card__content">
        <ng-template [ngIf]="hasAttachment">
            <div class="attachment">
                <img [src]="attachment" alt="Image" loading="lazy" draggable="false" />
            </div>
        </ng-template>
        <h3>{{card.title}}</h3>
        <ng-template [ngIf]="card.description">
            <p>{{card.description}}</p>
        </ng-template>
    </div>
    <div class="card__actions">
        <button type="button" title="Edit" (click)="onEdit()">
            <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
        <button type="button" title="Delete" (click)="onDelete()">
            <i class="fa fa-trash" aria-hidden="true"></i>
            <ng-template [ngIf]="isDeleting">
                <div class="loader"><mat-spinner diameter="20" strokeWidth="2" color="warn"></mat-spinner></div>
            </ng-template>
        </button>
        <button type="button" title="Mark Done" [class.done]="card.done" (click)="onMarkDone()">
            <i class="fa fa-check" aria-hidden="true"></i>
            <ng-template [ngIf]="isLoading">
                <div class="loader"><mat-spinner diameter="20" strokeWidth="2" color="warn"></mat-spinner></div>
            </ng-template>
        </button>
    </div>
</div>