/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: "Poppins", "Helvetica Neue", sans-serif;
}

.mat-body,
.mat-body-2,
.mat-typography .mat-body,
.mat-typography .mat-body-2,
.mat-typography,
.mat-typography h1,
.mat-typography h2,
.mat-typography h3,
.mat-typography h4,
.mat-typography h5 {
    font-family: "Poppins", "Helvetica Neue", sans-serif;
}

a {
    cursor: pointer;
}

button {
    cursor: pointer;

    &:disabled {
        cursor: auto;
    }
}

body {
    .mat-mdc-menu-content {
        padding: 0;
    
        .mat-mdc-menu-item {
            min-height: 42px;
    
            .mat-icon {
                margin-right: 10px;
                font-size: 20px;
                height: 20px;
                width: 20px;
            }
    
            .mdc-list-item__primary-text {
                font-size: 0.8rem;
            }
        }
    }
}