@use '@angular/material' as mat;

$custom-typography: mat.define-typography-config(
  $font-family: 'Poppins',
);

$my-theme: mat.define-light-theme((
  typography: $custom-typography,
));

@include mat.all-component-themes($my-theme);

@include mat.button-typography($custom-typography);